.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #bebebe;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .navbar-title {
    display: flex;
    align-items: center;
    color:#444444;
    font-weight: bold;
    gap:10px;
    padding: 10px;
  }
  
  .navbar-buttons {
    display:flex;
    gap: 10px;
    padding: 10px;
  }
  .navbar-buttons > a {
    background-color: #d3dce1;
    color: #444444;
    padding: 5px 10px;
    border-style: solid ;
    border-radius: 10px;
    border-color:white;
    text-decoration: none;
  }
  
  .navbar-buttons > a.active {
    background-color: #444444;
    color: #e8e8e8;
  }
  
  
  