.schema-preview,
.live-preview {
  background: black;
  padding: 10px;
  border-radius: 5px;
}
.schema-preview div,
.live-preview div {
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}
.live-preview {
  flex-grow: 1;
}

